.el-cuerpo-mi-rey {
  font-family: "Lucida Console", sans-serif;
  background: #f6f5f5;
  animation: 1s ease-out 0s 1 imagenCarga;

}

#row-proyectos {
  background-color: #00334e;

  -webkit-box-shadow: 0px 35px 50px 27px #000000; 
box-shadow: 0px 35px 50px 27px #000000;
}

@keyframes bordeAnimation {
  0% {
    -webkit-transform: scaleX(0.0001);
    -ms-transform: scaleX(0.0001);
    transform: scaleX(0.0001);
}
  100% {
    -webkit-transform: scaleX(1);
    -ms-transform: scaleX(1);
    transform: scaleX(1);  }
}

.borde{
  animation: 1.5s ease-out 0s 1 bordeAnimation;
}

.desc {
  position: relative;
  z-index: 1;
  background-color: #4c7083;

}

.enlace {
  height: 75px;
  width: 75px;
  background-image: url("https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png");
  background-position: center;
  background-size: cover;
  border-radius: 100%;
}

.titulo {
  text-decoration: underline;
}


.tab-padre {
  background-color: #00334e;
}


.tab {
  height: 3rem;

}
#boton1, #boton2, #boton3 {
  /*border: solid 1px #f6f5f5;*/ border: none;
  background-color: #145374;
  color: #f6f5f5;
  transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
}

.seleccionado {
  background-color: #ee6f57 !important;
}

#boton1:hover, #boton2:hover,#boton3:hover {
  background-color: #ee6f57;
}
#boton1:focus, #boton2:focus, #boton3:focus {
  outline: none;
}

.borde-inferior {
  border-bottom: solid 1px rgb(212, 212, 212);
}

.imagen-contenedor {
  height: 300px;
  overflow: hidden;
  background-color: #00334e;
  padding: 0; /*quita q la imagen la tenga q reescalar*/
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes imagenCarga {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

.titular {
  -webkit-box-shadow: inset 0px 21px 50px -30px #000000; 
  box-shadow: inset 0px 21px 50px -30px #000000;
}

.imagen {
  width: 90%;
  height: 90%;
  object-fit: cover;
  border: solid 1px #ee6f57;
  z-index: 2;
  position: absolute;
  animation: 0.5s ease-out 0s 1 imagenCarga;

  opacity: 1;

  /*Animaciones*/
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}

.imagen:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  opacity: 0.15;
}

.bg-especial {
    color: #f6f5f5;
    background-color: #4c7083;
}


@media (max-width: 768px) {

  .enlace {
    height: 35px;
    width: 35px;  
  }

}